.title {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 2rem 0;
}

.divider {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider > span:last-child {
  flex: 1;
  height: 1px;
  background: #eaeaea;
}

.divider > span:first-child {
  max-width: 4%;
  flex: 1;
  height: 1px;
  background: #eaeaea;
}

.divider > p {
  margin: 0 1rem;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  padding: 1rem 0;
  width: 60%;
}

.search-input > input {
  flex: 1;
  border: none;
  padding: 1rem 0.7rem;
  font-size: 1rem;
  outline: none;
  height: 100%;
  border: 1px solid #eaeaea;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0.3rem;
}

.search-input > button {
  border: none;
  background: #646cff;
  color: #fff;
  padding: 1.2rem 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 100%;
  font-weight: 500;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
